@import '../../../../../../styles/global.scss';

.assessment-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .question-text {
    font: $type-text-regular; //16/22
    font-weight: 500;
    color: $color-light-black; //#333333
  }
  .answer-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 12px;
    border: 1px #e8e7e7;
    background: #fff;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
