@import '../../../../../styles/global.scss';

.save-password-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font: $type-text-medium;
    color: $color-medium-black;
    font-weight: 500;
    font-family: $font-family-public-sans;
    text-align: center;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E6F7FD;
    color: $color-blue-500;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;

}

.save-password-heading-wrapper {
    display: flex;
    flex-direction: column;

    gap: $spacing-1 span {
        font: $type-heading-small;
        color: $color-medium-grey;
        font-family: $font-family-public-sans;
        font-weight: 400;
    }
}