@import '../../../../styles/global.scss';
@import '../../../../styles/color.scss';

$color-border: #cccccc;
$border-radius: 4px;
$type-body-regular: 14px/20px 'Helvetica', sans-serif;
$color-primary: #007bff;

.patients-block {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.patients-main-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1282px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-1 0;
    flex-wrap: nowrap;
  }

  .header-title {
    font: $type-heading-regular;
    color: $color-medium-black;
    font-weight: 600;
    margin-right: $spacing-2;
    margin-left: $spacing-2;
  }
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: $spacing-2;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 0;  // Remove any space between the elements

  .dropdown-button,
  input {
    padding: $spacing-1 $spacing-2;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font: $type-body-regular;
    background-color: $color-white;
    height: 36px;  // Ensure consistent height
  }

  .search-button {
    padding: $spacing-1 $spacing-2;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    font: $type-body-regular;
    cursor: pointer;
    width: 80px; // Set a smaller width for the search button
  }

  .dropdown-button {
    width: 150px;  // Same width as the dropdown
    display: flex;
    align-items: center;
    justify-content: space-between; // Ensure text and icon are spaced out
  }

  input {
    width: 300px;  // Make the search field larger
    height: 36px;
  }
}

.AppButton {
  margin-left: auto;
  margin-right: 10px;
  padding: $spacing-2 $spacing-2;  // Increase padding to make the button bigger
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $border-radius;
  font: $type-body-regular;
  cursor: pointer;
  font-size: 16px;  // Increase font size if needed
}
