@import '../../../../styles/global.scss';

.container {
  display: flex;
  height: 100vh;
  background: #F9FAFE;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-transform: none;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%; /* Ensure full width for section */
}

.label {
  font-weight: bold;
  font-size: 14px;
  margin-left: 40px;
  margin-top: 20px;
  // margin-bottom: 10px;
}

.input,
.textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--Gray-02, #495054);
  background: var(--Shades-White, #FFF);
  width: 90%; /* Ensure full width for input and textarea */
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 20px;
}


.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #F9FAFE;
  border-bottom: 1px solid #ddd;
  align-items: center;
  text-decoration: none;
  text-transform: none !important;
  gap: 700px;
}

.buttonContainer {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
}

// .blur-effect {
//   filter: blur(10px);
// }

.backbutton {
  display: flex;
  align-items: center; /* Aligns the icon and text vertically */
  width: 1440px;
  padding: 0px 40px;
  justify-content: space-between;
  border-bottom: 1px solid var(--Gray-04, #EBEBEB);
  background: #F9FAFE;
  padding: 12px 32px;

  .backButton {
      display: flex;
      align-items: center; /* Aligns icon and text inside the button */
      background: transparent;
      border: none;
      cursor: pointer;
      color: var(--primary-02-main, #146CFD) !important; /* Force the color to apply */
      font-family: "Public Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
  }

  .arrowIcon {
      color: var(--primary-02-main, #146CFD) !important; /* Force the icon color to apply */
      margin-right: 8px; /* Adds space between the icon and the text */
  }
}
