.sidebar {
    width: 250px; // Match with SidebarPatientContainer width
    //height: 100vh;
    background-color: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    position: fixed; // Ensures sidebar stays in place during scrolling
    top:0;
    left: 0;
    z-index: 10; // Ensure sidebar is above main content
    overflow-y: auto; // Allow scrolling
}

.selected {
    background-color: #cbe0fd !important;
    border-radius: 4px;
    color: #146cfd !important;
}

.subcategory {
    padding-left: 32px; // Indent subcategories
}
