@import '../../styles/global.scss';

.top-navigation-main-wrapper {
  width: 100%;
  height: 80px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  background-color: $color-white;
  justify-content: space-between;
  gap: $spacing-3;
}

.top-navigation-left-wrapper {
  display: flex;
  gap: $spacing-8;
  align-items: center;
  // padding-top: 28px;
  // padding-bottom: 28px;
}

.alpha-logo-wrapper {
  display: flex;
}

.logos-wrapper {
  display: flex;
  gap: $spacing-3;
}

.top-navigation-right-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navlink-menu-wrapper {
  display: flex;
  gap: 50px;
}