.tabBar {
  display: flex;
  height: 69px;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.tabItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  text-transform: none;
  min-width: 205px;
  height: 40px;
  padding: 8px 12px;
  color: #146CFD;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.tabItem.selected {
  background: #CBEDFD;
  color: #146CFD;
}

.tabItem:hover {
  background: #B0E0FF;
}
