.lesson-content {
  padding: 20px;
  width: 100%;
  margin: auto;

  .custom-editor {
    width: 100%;
    padding: 12px;
    border: 1px solid #22272B; 
    border-radius: 6px;
    background: var(--Shades-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.uploaded-image-preview {
  display: flex;
  flex-direction: column; // Ensures the image is above the button
  align-items: center;
  margin-top: 10px;

  .uploaded-image {
      max-width: 100%; // Adjust the image size if needed
      height: auto;
  }

  .edit-image-section {
      margin-top: 10px; // Add spacing between the image and text
      text-align: center; // Center-align the text below the image

      .remove-uploaded-image-button {
          background: none; // Remove background
          border: none; // Remove border
          color: #146CFD; // Apply the custom color
          cursor: pointer;
          font-size: 14px;
          text-decoration: underline; // Optional: add underline to the text
      }
  }
}


  .screen {
    margin-bottom: 20px;

    h2 {
      margin-bottom: 10px;
    }

    .upload-media,
    .subtitle,
    .content {
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="file"] {
      display: block;
    }

    .input-field {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 32px;

      input[type="text"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #22272B; /* Example color, update as needed */
        border-radius: 6px;
        background: var(--Shades-White, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        &:focus {
          border-color: #146CFD;
        }
      }
    }

    .input-field-1 {
      display: flex;
      flex-direction: column;
      width: 100%; /* Adjust the width as needed */

      .input-with-checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 32px;

        .input-wrapper {
          display: flex;
          align-items: center;
          position: relative;
          width: 90%;
        }

        input[type="text"] {
          flex-grow: 1;
          padding: 12px;
          padding-right: 40px; /* Adjust padding to make space for the checkbox */
          border: 1px solid #22272B; /* Example color, update as needed */
          border-radius: 6px;
          background: var(--Shades-White, #FFF);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }

        .MuiCheckbox-root.checkbox-inside {
          position: absolute;
          right: 10px;
        }

        .delete-answer-button {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .add-screen,
  .add-quiz {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  .edit-button {
    width: 100%;
    height: 44px;
    margin-bottom: 138px; /* Added margin to create gap */
  }

  .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .quiz-content {
    margin-top: 20px;
  }

  .MuiMenu-paper {
    width: auto !important; /* Ensures the Menu width matches the button width */
  }
}

.error-border {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}