.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%; /* Ensure full width for section */
  }

  .lessonsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: #f9f9f9;
      text-align: center;
    }
  
    td {
      text-align: center;
    }
  }

  .habitHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width for header */
  }
  
  .removeHabitButton {
    display: flex;
    width: 180px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Red, #EB5757);
    background: var(--Shades-White, #FFF);
  }