@import '../../../styles/global.scss';

.logout-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font: $type-text-medium;
    color: $color-medium-black;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E6F7FD;
    color: $color-blue-500;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;

}