@import '../../../../../styles/global.scss';

.button-primary {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-1;
    margin: 0px;
    padding-top: $spacing-1-5; //12px
    padding-bottom: $spacing-1-5;
    padding-right: $spacing-3; //24px
    padding-left: $spacing-3;
    border: 1px solid $color-blue; // Updated to 1px to show the border
    border-radius: 8px;
    background-color: $color-white; // Changed background color to white
    color: $color-blue; // Changed text color to blue
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    &:disabled {
        opacity: 0.7;
    }

    &.button-outlined {
        background-color: transparent;
        color: $color-dark-black;
        border: 1px solid $color-light-black;
    }

    &.button-blue-outlined {
        background-color: transparent;
        color: $color-blue;
        border: 1px solid $color-blue;
    }

    &.button-vertical-padding {
        padding-top: $spacing-1;
        padding-bottom: $spacing-1;
    }

    &.button-no-decoration {
        background-color: transparent;
        color: $color-blue;
        border: 0px solid $color-blue;
        font-size: 14px;
        line-height: 20px;
    }
}
