@import '../../../../../styles/global.scss';

.modal-content-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: $spacing-2-5; // 20px;

  .circular-wrapper {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    color: $color-blue-500; // #00acee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-sky-blue; // #e6f7fd;
    border-radius: 100%;
  }

  .modal-desc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-1; // 8px;

    h3 {
      font: $type-heading-small; // 18px/22px;
      font-weight: 500;
      text-align: center;
      color: $color-medium-black; // #22272b;
    }

    p {
      font: $type-text-small; // 14px/20px;
      text-align: center;
      color: $color-medium-grey; // #495054;
    }
  }

  .button-group {
    // display: flex;
    gap: $spacing-1; // 8px;
    justify-content: center;

    button {
      margin-top: $spacing-1-5; // 12px;
      width: 100%; // Ensure buttons take full width
    }

    .MuiButton-outlined {
      background-color: $color-white; // White background for cancel button
      border: 1px solid $color-divider; // Border color for cancel button
    }

    .MuiButton-containedError {
      background-color: $color-dark-red; // Red background for delete button
      color: $color-white; // White text color for delete button
    }
  }
}
