@import '../../../../styles/global.scss';

.setting-link-wrapper {
    display: flex;
    gap: $spacing-1;
    border-radius: $spacing-0-5;
    background-color: $color-white;
    padding: 12px;
    font: $type-text-regular;
    font-weight: 400;
    color: $color-medium-black;
    text-wrap: nowrap;

    &:hover {
        color: $color-blue;
        background-color: #CBEDFD;
    }

    &.active {
        color: $color-blue;
        background-color: #CBEDFD;
    }
}