@import '../../../../../../styles/global.scss';

.in-progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  .header-text {
    font: $type-text-regular; //16/22
    font-weight: 500;
    color: $color-medium-black;
    text-wrap: nowrap;
  }
  .content-block {
    padding: 20px;
    border: 1px solid $color-light-grey; //#ebebeb
    border-radius: 12px;
    &.flex-horizontal {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
    &.flex-verticle {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .progress-bar-width {
      max-width: 478px;
    }
  }

  .in-progress-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item-header-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      .icon-wrap {
        width: 56px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #cbedfd;
      }

      span {
        font: $type-text-medium; //18/22
        color: $color-medium-black; // #22272b;
      }
    }
    p {
      font: $type-text-regular; //16/22
    }
  }
}
