.backbutton {
    display: flex;
    align-items: center; /* Aligns the icon and text vertically */
    width: 1440px;
    padding: 0px 40px;
    justify-content: space-between;
    // border-bottom: 1px solid var(--Gray-04, #EBEBEB);
    background: var(--Shades-White, #FFF);
    padding: 12px 32px;

    .backButton {
        display: flex;
        align-items: center; /* Aligns icon and text inside the button */
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--primary-02-main, #146CFD) !important; /* Force the color to apply */
        font-family: "Public Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .arrowIcon {
        color: var(--primary-02-main, #146CFD) !important; /* Force the icon color to apply */
        margin-right: 8px; /* Adds space between the icon and the text */
    }
}
