@import '../../styles/global.scss';

.root {}

.input-field {
    font: $type-text-small;
    color: $color-dark-black;
    font-family: inherit;
    border: 1px solid $color-medium-black;
    padding: $spacing-1-5;
    width: 100%;
    border-radius: 6px;
    background-color: $color-white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    &.error-input {
        border: 1px solid #D7153A;
    }

    &:focus-visible {
        outline: 1px;
        border-color: $color-blue;
        box-shadow: 0px 0px 0px 2px #E6F7FD;
        background-color: $color-white;
    }

    &::placeholder {
        color: $color-medium-grey
    }
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 8px;
        cursor: pointer;
    }
}