.LifestyleInformation {
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  border: 1px solid var(--Gray-03, #cdd3d6);
  background: var(--Gray-02, #495054);
}

.themeHeader {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}

.menuBookIcon {
  margin-right: 8px;
  font-size: 2rem;
  color: #fff;
}

.themeDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.themeItem {
  margin-bottom: 15px;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000;
  }

  .themeValue {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    width: 100%;
  }

  &.fullWidth {
    width: 100%;
  }

  &.levelCategory {
    display: flex;
    gap: 16px;
    width: 100%;

    .levelItem,
    .categoryItem {
      flex: 1;
    }
  }
}
