@import '../../../../../styles/global.scss';

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  // Center the content horizontally
}

.content-wrapper {
  max-width: 406px;
  width: 100%;
  padding: 24px; // Adjust spacing to match $spacing-4
  border-radius: 8px;
  background-color: $color-white;
  border: 1px solid $color-divider;
  display: flex;
  flex-direction: column;
  gap: 16px; // Adjust spacing to match $spacing-3
  margin: auto;
  text-align: center;  // Center the text within the content wrapper
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px; // Adjust spacing to match $spacing-1
}

.error-message {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}


.check-email-heading {
  font: $type-heading-medium;
  color: $color-dark-black;
  font-family: inherit;
  text-align: center;
  font-weight: 700;

  span {
      font: $type-text-regular;
      color: $color-medium-grey;
      font-weight: 400;
      font-family: inherit;
      display: block;  // Ensure spans appear as block elements for proper spacing
  }
}
