@import '../../../../../styles/global.scss';

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    border-radius: 8px;
    border: 1px solid $color-divider;
    background-color: $color-white;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: $spacing-4;
    align-content: center;
    align-items: center;
}

.check-email-heading {
    font: $type-heading-medium;
    color: $color-dark-black;
    font-family: inherit;
    text-align: center;
    font-weight: 700;

    span {
        font: $type-text-regular;
        color: $color-medium-grey;
        font-weight: 400;
        font-family: inherit;
    }
}