.dashboard-card-details-container {
    margin: 16px;
}

.dashboard-card-header {
    color: #22272B;
    /* Headline/Medium */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    cursor: pointer;
}

.cover-image-section, .lesson-name-section, .lesson-description-section {
    margin-top: 16px;
}

.cover-image-label, .lesson-name-label, .lesson-description-label {
    font-size: 12px;
    color: #555;
}

.cover-image-input, .lesson-name-input, .lesson-description-input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Gray-01, #22272B);
    background: var(--Shades-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    &:focus {
        border-color: #146CFD;
        outline: none; // Remove default outline for better appearance
    }
}

.lesson-name-footer, .lesson-description-footer {
    margin-top: 8px;
    font-size: 12px;
    color: #999;
    text-align: right;
}


.uploaded-image-preview {
    display: flex;
    flex-direction: column; // Ensures the image is above the button
    align-items: center;
    margin-top: 10px;

    .uploaded-image {
        max-width: 30%; // Adjust the image size if needed
        height: auto;
    }

    .edit-image-section {
        margin-top: 10px; // Add spacing between the image and text
        text-align: center; // Center-align the text below the image

        .remove-uploaded-image-button {
            background: none; // Remove background
            border: none; // Remove border
            color: #146CFD; // Apply the custom color
            cursor: pointer;
            font-size: 14px;
            // text-decoration: underline; // Optional: add underline to the text
        }
    }
}
