@import '../../../../styles/global.scss';

.activity-wrapper {
  margin: 0 64px;

  min-height: 80vh;
  padding: 32px;
  border: 1px solid $color-light-grey; //#ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-medium-black;
  h1 {
    font: $type-text-large; //20/25
    color: $color-medium-black; // #22272b;
    font-weight: 500;
  }
}
