.main-wrapper {
    height: 100vh;

}

.setting-layout-main-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    height: 100%;
    align-items: stretch;
}

.setting-layout-left-wrapper {
    height: 100%;
}

.setting-layout-right-wrapper {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
}