.themeDetails {
    width: 50%; /* Adjust width as needed */
    .formGroup {
      margin-bottom: 32px; /* Maintain consistent spacing between form groups */
  
      label {
        display: block;
        margin-bottom: 12px; /* Adjust space between the label and input/select */
        font-weight: bold;
      }
  
      input,
      select {
        width: 180%; /* Make the input/select full width */
        padding: 12px; /* Ensuring the input and select elements have proper padding */
        border: 1px solid var(--Gray-02, #495054); /* Applying the specified border color */
        border-radius: 6px; /* Applying the specified border radius */
        box-sizing: border-box; /* Ensure padding doesn't affect the total width */
        background: var(--Shades-White, #FFF); /* Applying the specified background color */
        margin-bottom: 12px; /* Adding bottom margin to match the visual layout */
      }
  
      select {
        option {
          padding: 16px; /* Adjust padding for dropdown options */
        }
      }

      .errorBorder {
        border: 1px solid red !important;
      }
      
      .errorText {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
      
    }
  }
  