@import '../../../../../styles/global.scss';

.carousel-heading {
  font-size: 22px;
  line-height: 28px;
  font-family: inherit;
  font-weight: 600;
  color: $color-medium-black;
  text-align: center;
}

.carousel-detail {
  font: $type-text-regular;
  font-weight: 400;
  font-family: inherit;
  color: $color-medium-grey;
  text-align: center;
}

.onboarding-image {
  //max-width: 488px;
  height: 364px;
}

.carousel-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  align-items: center;
}

.carousel-header {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  max-width: 342px;
  align-content: center;
}

.carousel-dots-wrapper {
  display: flex;
  gap: $spacing-1;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #8AD9F7;
  cursor: pointer;

}

.active {
  background-color: $color-blue;
  /* Change to your desired active color */
}