.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}

.selected {
  background-color: #cbe0fd !important;
  border-radius: 4px;
  color: #146cfd !important;
}
