@import '../../styles/global.scss';

.badge-wrapper {
  padding: 4px 12px;
  text-align: center;
  background-color: #f5f5f5;
  font: $type-text-tiny; //12/16
  font-weight: 500;
  color: #404040;
  cursor: pointer;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  &.active {
    color: #146cfd;
    background-color: #cbedfd;
  }
}
