@import '../../../styles/global.scss';


.password-main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-content-main-wrapper {
    max-width: 406px;
    width: 100%;
    padding: $spacing-4;
    border-radius: 8px;
    background-color: $color-white;
    border: 1px solid $color-divider;
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    margin: auto;
}

.password-heading {
    font: $type-heading-medium;
    color: $color-dark-black;
    font-family: inherit;
    font-weight: 700;

    span {
        font: $type-heading-regular;
        color: $color-light-black;
        font-family: inherit;
    }
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
}

.input-field-label-main-wrapper {
    display: flex;
    justify-content: space-between;
}

.forgot-password {
    font: $type-text-small;
    color: $color-blue;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}