.table-footer-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: var(--Gray-01, #22272b);
      font-family: 'Public Sans', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
  }

  button:disabled {
      color: #ccc;
      cursor: not-allowed;
  }

  .prev-button {
      margin-right: auto;
  }

  .next-button {
      margin-left: auto;
  }

  .page-info {
      font-size: 1rem;
      font-weight: bold;
  }

  .page-numbers {
      display: flex;
      flex-direction: row; 
      gap: 0.5rem; 
  }

  .page-number {
      padding: 0.5rem;
      border-radius: 4px;
      opacity: 0.3; /* Reduced opacity for non-active pages */
      transition: opacity 0.3s;
  }

  .page-number:hover {
      background-color: #f0f0f0; /* Optional hover effect */
  }

  .active {
      opacity: 1;
      color: #146CFD; /* White text color for better contrast */
  }
}
