@import '../../../styles/type';
@import '../../../styles/color';


.container {
  padding: 48px 80px;
}

.dashboard-block {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {

    font: $type-text-xxlarge;
  }

  label {
    font: $type-text-medium; // 18/22
    font-weight: 500;
    color: $color-medium-black; //#22272B
  }

  .dashboard-graph-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;

    .min-height {
      min-height: 284px;
    }

    .graph-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .graph-card {
      padding: 32px 24px;
      background-color: white;
      flex: 1;

      &.doughnut-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 48px;
      }
    }
  }

  .analytics-block {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .analytics-wrapper {
      display: flex;
      justify-content: space-between; // Align the cards next to each other
      flex-direction: row;
      background-color: white;
      gap: 0px; // Adjust spacing between the analytics cards

      .analytics-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;
        border: 0px;

        .label-with-dropdown {
          display: flex;
          justify-content: space-between; // Keep label and dropdown inline
          align-items: center;
          gap: 52px;
        }

        .analytics-label {
          font: $type-text-regular; //16/22
          color: $color-medium-black;
          white-space: nowrap; // Ensure label text does not wrap
        }

        .analytics-count {
          font: $type-text-xxlarge; //32/41
          font-weight: 500;
        }

        .assigned-by {
          font: $type-text-tiny; //12/16
          color: #495054;
        }
      }
    }

    .divider {
      display: flex;
      width: 32px;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;

      .line {
        width: 1px;
        height: 55%;
        margin: auto;
        background-color: #ebebeb;
      }
    }
  }

  // Dropdown CSS
  .dropdown-container {
    position: relative;
    font-family: Arial, sans-serif;

    .dropdown-header {
      padding: 8px 12px;
      background-color: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;

      .dropdown-arrow {
        margin-left: 10px;
      }
    }

    .dropdown-list {
      position: absolute;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      border-radius: 4px;
      margin-top: 5px;

      .dropdown-item {
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
