@import '../../../../styles/global.scss';

.sleep-analysis-wrapper {
  margin: 0 64px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 350px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 80vh;
  padding: 32px;
  border: 1px solid $color-light-grey; //#ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-medium-black;
  h1 {
    font: $type-text-large; //20/25
    color: $color-medium-black; // #22272b;
    font-weight: 500;
  }
}
