.habitAssignedContainer {
    display: flex;
    height: 364px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 8px;
    background: #f9fafe;
  }
  