$color-black: #000000;
$color-white: #ffffff;
$color-dark-black: #171717;
$color-medium-grey: #495054;
$color-blue: #146cfd;
$color-light-red: #fef2f2;
$color-maroon: #630019;
$color-dark-red: #d7153a;
$color-sky-blue: #e6f7fd;
$color-medium-black: #22272b;
$color-green: #00aa45;
$color-light-grey: #ebebeb;
$color-yellow: #ffac2e;
$color-dark-blue: #006ff7;
$color-light-black: #333333;
$color-blue-500: #00acee;
$color-light-green: #f0fdf4;
$color-dark-green: #004000;




//Sematic Colors
$color-divider: #e5e5e5;
$color-background: #f9fafe;