$font-family-public-sans: 'Public Sans', sans-serif;

$type-text-micro: 11px/16px $font-family-public-sans;
$type-text-tiny: 12px/16px $font-family-public-sans;
$type-text-small: 14px/20px $font-family-public-sans;
$type-text-regular: 16px/22px $font-family-public-sans;
$type-text-medium: 18px/22px $font-family-public-sans;
$type-text-large: 20px/25px $font-family-public-sans;
$type-text-xlarge: 28px/34px $font-family-public-sans;
$type-text-xxlarge: 32px/41px $font-family-public-sans;


// Headings
$type-heading-large: 32px/41px $font-family-public-sans;
$type-heading-medium: 28px/34px $font-family-public-sans;
$type-heading-regular: 20px/25px $font-family-public-sans;
$type-heading-small: 18px/22px $font-family-public-sans;