# APP Config
NODE_ENV=development
PORT=3004
APP_NAME='alpha-notification-ms-v1'
APP_API_PREFIX=/api/v1/notification-ms/
APP_DEBUG=true

# Database Config
# Local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# RabbitMQ Config
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=alpha-message

# Azure
AZURE_EMAIL_CONNECTION_STRING="your_azure_connection_string"
AZURE_EMAIL_SENDER_ADDRESS="your_azure_sender_address"

# Firebase
FIREBASE_SERVER_KEY=