@import '../../../../styles/global.scss';

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Light transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loaderWrapper {
  z-index: 10000; /* Ensure loader is above everything else */
}


.patient-dashboard {
  // margin: 0 64px 64px 64px;
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 350px;
  margin-bottom: 50px;
  flex: 1;
  padding: 32px;
  border: 1px solid $color-light-grey; //#ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $color-medium-black; // #22272b;
  h1 {
    font: $type-text-large; //20/25
    color: $color-medium-black; // #22272b;
    font-weight: 500;
  }

  .left-profile-block {
    max-width: 250px;
    background-color: #f9fafb;
    border: 1px solid $color-light-grey;
    border-radius: $spacing-1;
    padding: $spacing-3;
    //display: flex;
    flex-direction: column;
    align-items: center; // Center content horizontally
    justify-content: space-between; // Space out content evenly
    text-align: center; // Center text

    .profile-image {
        width: 96px;
        height: 96px;
        color: #009dd9;
        background-color: #e6f7fd;
        margin-bottom: $spacing-2;
        margin-left:50px;
    }

    .profile-info {
        margin-bottom: $spacing-2;

        .profile-name {
            font: $type-text-large;
            font-weight: 500;
            color: $color-light-black;
            margin-bottom: 8px;
        }

        .profile-role,
        .profile-age {
            font: $type-text-small;
            color: hsl(0, 0%, 64%);
            margin-bottom: 8px;
        }
    }

    .add-plan-button {
        margin: $spacing-2 0;
        padding: $spacing-2;
        width: 100%;
        background-color: #006eff;
        color: white;
        border-radius: $spacing-1;
        cursor: pointer;
        text-align: center;
    }

    .profile-stats {
      width: 100%;
      margin-top: $spacing-2;
      border-top: 1px solid $color-light-grey;
      padding-top: $spacing-2;
      display: flex;
      flex-direction: column;
      gap: $spacing-2;
    
      div {
        display: flex;  // Flex container for each stat
        justify-content: flex-start;  // Align items to start
        align-items: center;  // Center items vertically
        width: 100%;  // Ensure each stat takes full width
        padding: 4px 0;  // Adds vertical padding for spacing
    
        .stat-label {
          font: $type-text-small;
          color: hsl(0, 0%, 64%);
          text-align: left;  // Aligns label text to the left
          width: 80px;  // Fixed width for labels to align numbers vertically
          margin-right: 20px;  // Space between label and value
          flex-shrink: 0;  // Prevents the label from shrinking
        }
    
        .stat-value {
          font-weight: 600;
          color: black;
          text-align: left;  // Align value text to the left
          flex: 1;  // Takes up the remaining space
          min-width: 50px;  // Ensures values start from the same position
        }
      }
    }
    
    
}

  .patient-flex-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .left-block {
      padding: 32px;
      width: 100%;
      max-width: 228px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      border: 1px solid $color-light-grey; //#ebebeb;
      .profile-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        .profile-image-wrapper {
          width: 96px;
          height: 96px;
          color: #009dd9;
          background-color: #e6f7fd;
          margin-bottom: $spacing-2;
        }
        .name-text {
          color: inherit;
          font: $type-text-medium; //18/22
          text-align: center;
          font-weight: 500;
        }

        .group-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 4px;

          span:first-child {
            font: $type-text-regular; //16/22
            font-weight: 500;
            opacity: 0.5;
          }
          span:nth-child(2) {
            font-weight: 400;
            font: $type-text-small; //14/20
            opacity: 0.5;
          }
        }
      }
      .profile-footer {
        padding: 0 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .label-group {
          flex: 1;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 8px;
          font: $type-text-regular; // 16/22
          font-weight: 500;
          span:nth-child(1) {
            text-align: end;
            flex: 1;
            opacity: 0.5;
          }
          span:nth-child(2) {
            text-align: center;
            flex: 1;
          }
        }
      }
    }
    .right-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-direction: 1;
      flex: 1;
      .header-text {
        font: $type-text-regular; //16/22
        font-weight: 500;
        color: $color-medium-black;
        text-wrap: nowrap;
      }

      .content-block {
        display: flex;
        padding: 20px;
        border: 1px solid $color-light-grey; //#ebebeb
        border-radius: 12px;
        &.flex-horizontal {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
        }
        &.flex-verticle {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
      .badges-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
      }

      .motivation-list {
        padding: 16px;
        border: 1px solid #8ce0ff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        ul {
          font: $type-text-small; // 14/20
        }
      }

      .activity-wrapper {
        min-height: 346px;
        // max-height: 346px;
        flex: 1;
      }
    }
  }

  .data-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    .flex-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      .header-text {
        font: $type-text-medium; //18/22
      }
    }

    .circular-wrapper {
      width: 56px;
      height: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #cbedfd;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }

    .data-value {
      color: #22272b;
      font: $type-text-regular; //16/22
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 12px;
      gap: 4px;
      span {
        font: inherit;
      }
      span:nth-child(1) {
        font: $type-heading-large; // 32/41
        font-weight: 500;
        margin-right: 8px;
      }
    }
  }
}

.edit-profile-button {
  padding: $spacing-2 $spacing-3;
  border: 1px solid #006eff; // Blue border color
  background-color: transparent; // No fill color
  color: #006eff; // Blue text color
  border-radius: $spacing-1;
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
      background-color: #006eff; // Optional: Add a blue background on hover
      color: white; // Optional: Change text color to white on hover
  }
}

.profile-buttons {
display: flex;
flex-direction: column;
gap: $spacing-2;
margin-top: $spacing-2;
}

.button-container {
display: flex;
gap: $spacing-2;
margin-top: $spacing-2;
justify-content: center; // Center align the buttons
}

.primary-button {
flex: 1; // Make buttons take equal space if needed
text-align: center;
white-space: nowrap; // Prevents text from wrapping to a new line
padding: $spacing-2 $spacing-3; // Adjust padding to suit your needs
}

.secondary-button {
flex: 1; // Make buttons take equal space if needed
text-align: center;
white-space: nowrap; // Prevents text from wrapping to a new line
padding: $spacing-2 $spacing-3; // Adjust padding to suit your needs
background-color: transparent;
color: #006eff;
border: 1px solid #006eff;
border-radius: $spacing-1;
cursor: pointer;
//text-align: center;
}
