// src/components/viewCategories/viewCategories.module.scss

.categories {
    padding: 16px;


    .list{
      border-bottom: 1px solid var(--Neutral-200, #E5E5E5);
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -25px;
      background-color: #EBEBEB;
      padding: 16px 24px;
  
      .headerText {
        font-size: 14px;
        color: #22272B;
        display: flex;
        align-items: center;
      }
    }
  
    .MuiListItem-root {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
  
      .MuiListItemText-root {
        flex: none;
        width: auto;
      }
  
      .MuiSwitch-root {
        flex: none;
      }
    }
  }
  