@import '../../../../../styles/global.scss';

.activity-bar-chart {
  width: 100%;
  height: 100%;
  position: relative;

  .arrow-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #146cfd;
    border-radius: 8px;
    background-color: transparent;
    &.left-arrow {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 0;
    }
    &.right-arrow {
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 0;
    }
  }

  .chart-layout {
    margin: 0 60px;
  }
}
